<configuration>

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>
        %d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
      </pattern>
    </encoder>
  </appender>

  <logger name="reactor" level="DEBUG"/>
  <logger name="reactor.netty" level="DEBUG" />
  <logger name="reactor.netty.http.client.HttpClient" level="DEBUG" />
  <logger name="reactor.netty.channel.FluxReceive" level="DEBUG" />
  <logger name="reactor.netty.http.server.HttpServer" level="DEBUG" />

  <root level="info">
    <appender-ref ref="stdout"/>
  </root>

</configuration>
